/*
Author: Ivan Vargas
*/

@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: sans-serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    color: #333;
    position: relative;
    width: 100%;
    min-width: 20em;
    background: #333333;
}

.highlight {
    background: #fff699;
    padding: 0 0.5em;
}

.prose ul,
.prose ol {
    list-style: outside disc;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.prose p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.prose p.small {
    color: #fff;
    font-size: 0.8125em;
    line-height: 1.84615em;
    margin-bottom: 1.84615em;
}

.prose p.medium {
    color: #666;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 1.71429em;
}

.prose p:last-child {
    margin-bottom: 0;
}

.prose h1 {
    font-size: 1.875em;
    line-height: 1.2em;
    margin-bottom: 0.4em;
}

.prose h2 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}


/*.prose a {
    color: #6d7173;
    border-bottom: 1px solid #a1cfe5;
    text-decoration: none;
    outline: none;


.prose a:focus,
.prose a:hover {
    color: #4ab336;
    border-bottom-color: #77b36b;
}*/

.block {
    position: relative;
    margin: 0 auto;
    padding: 1.5em 1.25em;
    max-width: 60em;
}

.close-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #006680 url("../img/close-btn.svg") left center no-repeat;
    background-size: 1.875em 1.875em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-svg .close-btn {
    background-image: url("../img/close-btn.png");
}

.close-btn:focus,
.close-btn:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.nav-btn {
    display: block;
    width: 2.625em;
    height: 2.25em;
    padding: 0;
    border: 0;
    outline: none;
    background: #006680 url("../img/nav-icon.svg") left center no-repeat;
    background-size: 1.875em 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-svg .nav-btn {
    background-image: url("../img/nav-icon.png");
}

.nav-btn:hover,
.nav-btn:focus {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#inner-wrap {
    position: relative;
    width: 100%;
}

#nav {
    z-index: 200;
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #fff;
    background: #006680;
}

#nav .close-btn {
    display: none;
}

#nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#nav .block {
    z-index: 2;
    position: relative;
    padding: 0.75em 1.25em;
    background: #006680;
}

#nav ul {
    *zoom: 1;
    display: block;
}

#nav ul:before,
#nav ul:after {
    content: "";
    display: table;
}

#nav ul:after {
    clear: both;
}

#nav li {
    display: block;
}

#nav li a {
    display: block;
    color: #ccc;
    font-size: 0.875em;
    line-height: 1.28571em;
    font-weight: bold;
    outline: none;
}

#nav li a:focus,
#nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

#nav li.is-active a {
    color: #fff;
}

#top {
    z-index: 100;
    position: relative;
    color: #fff;
    background: #fff;
}

#top .block-title {
    margin-top: 15px;
    width: 315px;
}

#top .nav-btn {
    position: absolute;
    top: 1.5em;
    left: 1.875em;
}

#main {
    background: #fff;
}

#main .block {
    padding: 2.625em 1.875em;
}

footer[role="contentinfo"] {
    background: #808080;
}

.rigth {
    text-align: right
}

.banner {
    position: relative;
    background-color: #23B5AF;
    height: 200px;
    max-width: 60em;
    margin: 0 auto;
}

.banner h1 {
    font-size: 2em;
    color: #fff;
}

.banner .text {
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
}

.diamond {
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    width: 34%;
    height: 200px;
    right: 0;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.diamond:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -100px;
    border-right: 100px solid rgba(0, 0, 0, .1);
    border-bottom: 100px solid rgba(0, 0, 0, 0);
}

.diamond div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: -100px;
    border-right: 100px solid rgba(0, 0, 0, .1);
    border-top: 100px solid rgba(0, 0, 0, 0);
}

.banner:hover .diamond {
    width: 15%;
}

.container {
    position: relative;
    width: 70em;
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
    overflow: hidden;
    text-align: center;
}


/* 
  Columns 
*/

.col {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

.col.four {
    width: 23%;
    margin: 0 1%;
}

.col.three {
    width: 31.3%;
    margin: 0 1%;
}

.col.two {
    width: 40%;
    margin: 0 2.5%;
    padding: 0 2.5%;
}

.col.extrapad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col .service,
.col .feature {
    font-size: 21px;
    font-weight: 300;
    font-family: sans-serif;
}

.col .service:after {
    content: "";
    width: 50px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.col .feature {
    font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
    margin-left: 50px;
    text-align: left;
}

.col .icon {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.25s linear, color 0.25s linear;
    color: white;
    background: #3b3b3b;
}

.col .icon.side {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -15px;
    height: 50px;
    width: 50px;
}

.col:hover > .icon {
    color: white;
}

.col:hover > .icon.side {
    background: initial;
    color: initial;
}

.responsivegroup {
    display: none;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.aside li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside li:hover {
    background-color: #0099cc;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
    line-height: 2.5em;
}

.material-icons.md-24 {
    font-size: 24px;
    line-height: 2.5em;
}

.material-icons.md-36 {
    font-size: 36px;
    line-height: 2.5em;
}

.material-icons.md-48 {
    font-size: 48px;
    line-height: 1.8em;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/*
  Column specifics
*/

.col p,
.col h1 {
    padding: 0 1%;
    text-align: center;
}

.group.margin {
    margin-bottom: 20px;
}

.col .imgholder {
    height: 300px;
    width: 100%;
    background: #333;
    transition: background 0.3s linear;
}

.col.bg {
    background: #FFF;
}

.col.pointer {
    cursor: pointer;
}

.col.bg:hover .imgholder {
    background: #555;
}

.col span.feature {
    font-size: 20px;
}


/*
  Text
*/

.container > h1:not(.hero) {
    margin-bottom: 30px;
    text-align: center;
}

.container > h1:after {
    content: "";
    width: 30px;
    position: relative;
    border-bottom: 1px solid #aaa;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.left,
.left > h1,
.left > p {
    text-align: left;
}

.reset {
    text-align: left !important;
}

.reset:after {
    display: none !important;
}


/* Button 1 */

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;

}

.btn-1 {
    background: #006680;
    font-weight: 100;
}

.btn-1 svg {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

.btn-1 rect {
    fill: none;
    stroke: #006680;
    stroke-width: 2;
    stroke-dasharray: 422, 0;

}

.btn-1:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
    color: #006680;

}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 12, 296;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

}


/*Medias*/

@media screen and (min-width: 45.0625em) {
    #top .nav-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #nav .close-btn {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #nav .block-title {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #nav ul {
        text-align: left;
        white-space: nowrap;
    }
    #nav li {
        display: inline-block;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    #nav li:last-child {
        border-right: none;
    }
    #nav li a {
        padding: 0.42857em 0.85714em;
    }
}

@media screen and (max-width: 45em) {
    #nav {
        position: absolute;
        top: 0;
        padding-top: 5.25em;
    }
    #nav:not(:target) {
        z-index: 1;
        height: 0;
    }
    #nav:target .close-btn {
        display: block;
    }
    #nav .close-btn {
        position: absolute;
        top: -3.75em;
        left: 1.875em;
    }
    #nav .block {
        position: relative;
        padding: 0;
    }
    #nav li {
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    #nav li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    #nav li.is-active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -0.625em;
        border-top: 0.625em transparent solid;
        border-bottom: 0.625em transparent solid;
        border-right: 0.625em white solid;
    }
    #nav li a {
        padding: 0.85714em 2.14286em;
    }
    .js-ready #nav {
        height: 100%;
        width: 70%;
        background: #333333;
        -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
        box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    }
    .js-ready #nav .block {
        background: transparent;
    }
    .js-ready #nav .close-btn {
        display: block;
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }
    .js-ready #nav .close-btn:focus,
    .js-ready #nav .close-btn:hover {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    .js-ready #nav {
        left: -70%;
    }
    .js-ready #inner-wrap {
        left: 0;
    }
    .js-nav #inner-wrap {
        left: 70%;
    }
    .csstransforms3d.csstransitions.js-ready #nav {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .csstransforms3d.csstransitions.js-ready #inner-wrap {
        left: 0 !important;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .csstransforms3d.csstransitions.js-nav #inner-wrap {
        -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    }
    .csstransforms3d.csstransitions.js-ready #nav .block {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
        -webkit-transition-delay: ease, 0s;
        -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
        -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
        transition: opacity 300ms 100ms ease, transform 500ms ease;
        -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    .csstransforms3d.csstransitions.js-nav #nav .block {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .banner h1 {
        font-size: 1.5em;
        color: #fff;
    }
    .banner .text {
        position: absolute;
        margin-top: 50px;
        margin-left: 40px;
    }
    .container {
        width: 95%;
    }
    .col.four {
        width: 48%;
        margin: 1%;
    }
    .col.three {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    [class*="col-"] {
        width: 100%;
    }
}
